<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h1>Goon Fantasy Football</h1>
    </div>
  </div>
</div>

<div>
  <%= link_to('Create League', {:action => 'new'}, :class => 'action create')%>
  <%= link_to('Join League', :action => 'join', :class => 'action join')%>
</div>