<div class="row">
  <div class="large-21 columns">
    <div class="panel">
      <h1>Goon Fantasy Football</h1>
    </div>
  </div>
</div>

<div>
  <%= form_for League.new, url: {:action => 'create'} do |f| %>
      <table summary="Create Fantasy League">
        <tr>
          <th>Name</th>
          <td><%= f.text_field :name%></td>
        </tr>
        <tr>
          <th>Password</th>
          <td>
            <%= f.text_field :password%>
          </td>
        </tr>
      </table>
      <%= f.submit%>
  <%end%>
</div>
