<h1 align="center">Goon League</h1>

<div class="registration">
<body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <h3> Registration </h3>
        </div>
        <div id="main-content" class="col-xs-9">
          <!-- <%= yield %> -->
          <% form_for(:user, :url => {:action => "create"}) do |f| %>
          	
          <% end %>
        </div>
      </div>
    </div>
</body>

</div>

