<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h1>Goon Fantasy Football</h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="large-3 columns ">
		<div class="panel">
			<a href="#"><img src="http://placehold.it/300x240&text=[img]"/></a>
		</div>
	</div>

	<div class="large-6 columns">

		<div class="row">
			<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/>
			</div>
			<div class="large-10 columns">
				<p>
					<strong>New Transfer!</strong> <br/>
					<%= "Mark has signed Alexis Sanchez for teamName"%> <!-- user.teamName -->
					<%= "Wayne Rooney has left teamName and is now a free agent"  %>
				</p>
				<ul class="inline-list">
					<li>
						<a href="">Reply</a>
					</li>
					<li>
						<a href="">Share</a>
					</li>
				</ul>

				<h6>2 Comments</h6>
				<div class="row">
					<div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/>
					</div>
					<div class="large-10 columns">
						<p>
							<%= "userName (team): What a great signing"%>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/>
					</div>
					<div class="large-10 columns">
						<p>
							<%= "userName (team): Nice!"%>
						</p>
					</div>
				</div>
			</div>
		</div>
		<hr/>
	</div>

	<aside class="large-3 columns hide-for-small">
		<p><img src="http://placehold.it/300x440&text=[ad]"/>
		</p>
		<p><img src="http://placehold.it/300x440&text=[ad]"/>
		</p>
	</aside>

</div>

<footer class="row">
	<div class="large-12 columns">
		<hr/>
		<div class="row">
			<div class="large-5 columns">
				<p>
					© Copyright Mark J. Hender
				</p>
			</div>
			<div class="large-7 columns">
				<ul class="inline-list right">
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
